# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build

# Virtual environments
.venv
venv
env
.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.gpx
*.log
*.kmz
output
cache

# Docs & tools
.mempalace
_readme
stages
*README*